
assignments/folder/Shading/Debug/

assignments/folder/Texturing/Debug/

assignments/folder/Texturing/Release/

assignments/folder/Lighting/Debug/

assignments/folder/Primitives/Debug/

assignments/folder/Primitives/Release/
.vs
.vs
.vs
.vs
